# Data
data_raw/
datasets/
**/train/
**/val/
**/test/
*.zip
*.tar
*.tar.gz

# Model artifacts / checkpoints
checkpoints/
weights/
saved_models/
saved_model/
**/variables/
*.h5
*.ckpt
*.pb
*.tflite

# Outputs (ignore by default)
results/**
logs/
runs/

# Allow tracked documentation + curated samples
!results/README.md
!results/samples/
!results/samples/**
!results/samples/README.md


# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
